extends ./layaout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", srcset="Imagen sobre nosotros", class='img-fluid')

            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer maximus ipsum sed felis molestie gravida at ut arcu. 

                p Quisque consectetur maximus gravida. Sed vitae suscipit ligula. Mauris gravida nisl ex, sit amet semper purus auctor a. In hac habitasse platea dictumst. 

                p Cras blandit quis felis eu placerat. Donec condimentum, eros non efficitur ullamcorper, tellus quam consectetur arcu, ut rutrum mi tellus ut libero. Maecenas iaculis dui id massa cursus, ac mollis velit interdum. Mauris efficitur ornare tellus. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class='img-fluid mb-4')
                    h2.mb-4 Seguridad 
                    p Cras blandit quis felis eu placerat. Donec condimentum, eros non efficitur ullamcorper. Cras blandit quis felis eu placerat. Donec condimentum, eros non efficitur ullamcorper

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class='img-fluid mb-4')
                    h2.mb-4 Mejores Destinos
                    p Cras blandit quis felis eu placerat. Donec condimentum, eros non efficitur ullamcorper. Cras blandit quis felis eu placerat. Donec condimentum, eros non efficitur ullamcorper

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class='img-fluid mb-4')
                    h2.mb-4 Mejores Precios 
                    p Cras blandit quis felis eu placerat. Donec condimentum, eros non efficitur ullamcorper. Cras blandit quis felis eu placerat. Donec condimentum, eros non efficitur ullamcorper        